body {
  background: rgb(59, 59, 228);
  font: normal 15pt Arial;
  color: white;
}

header {
  text-align: center
}

section {
  color: black;
  background: white;
  padding: 15px 15px 15px 15px;

  width: 500px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.507);
}

#foto {
  text-align: center;
  padding-top: 20px;
}

img {
  padding-top: 15px;
  width: 220px;
  height: 200px;
  border-radius: 200px;
}

footer {
  text-align: center;
  font-style: italic;
}